@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet');

/*Remove default Styles */

input {
	appearance: none;
	background-color: white;
	border-width: 0px;
	font-family: 'Catamaran', sans-serif;
	font-weight: 500;
}

input:focus {
	appearance: none;
	border-width: 0px;
	outline: none;
}

a:link{
  color: black!important;
}

a:hover{
	color: #3f3f3f!important;
}

a:visited{
	color: black!important;
}


ul {
    list-style-type: none;
}

/* -- Style Burger Menu -- */

/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 16rem;
  background-color: #ffffff;
  outline: solid 1px black;
  height: 100%;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.4em;
  color: #000000;
  padding: 0.2em 0.3em 0.1em 0.4em;
  letter-spacing: 2px;
  padding: 20px;
}
.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}

.burger__icon {
	display: flex;
	height: 35px !important;
	width: auto !important;
	align-items: flex-end;
	justify-content: left;
	margin-left: 110px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.categories {
	margin-top: 20px;
}

.categories__item {
	margin-top: 20px;
}

