@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet');

/*Remove default Styles */

input {
	appearance: none;
	background-color: white;
	border-width: 0px;
	font-family: 'Catamaran', sans-serif;
	font-weight: 500;
}

input:focus {
	appearance: none;
	border-width: 0px;
	outline: none;
}

a:link{
  text-decoration: none!important;
}

hr {
	border: 1px solid #e2dede;
}

/* -- Style Main Container -- */

.checkoutlayout {
	max-width: 1100px;
	margin: 30px auto 5px auto;
	display: flex;
	font-family: 'Catamaran', sans-serif;
	color: #303030;
}

/* -- Style Basket -- */

.checkout__mainBasket {
	flex: 1;
	padding: 10px;
	margin: 10px;
	font-size: 14px;
	text-align: right;
	line-height: 100%;
}

table {
	width: 100%;
}

td, th {
	text-align: center;
	justify-content: center;
	border-bottom: 2px solid #ededed;
	padding: 10px 0px;
}


.checkout__buttonTwo {
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 2px;
	background-color: #ededed;
	color: #000000;
	width: 150px;
	height: 40px;
	cursor: pointer;
	margin-top: 15px;
}


.checkout__buttonTwo:hover {
	background-color: #d0d0d0;
}

/* -- Style Calculations -- */

.checkout__mainCalculations {
	width: 300px;
	margin: 10px;
	padding: 10px 20px;
	border: 3px solid #ededed;
	font-size: 16px;
}

.checkout__calculationsSection {
	display: flex;
	justify-content: space-between;
	padding: 20px 12px;
}

.checkout__calculationsEmpty{
	font-weight: 800;
	font-size: 20px;
	text-align: center;
}

.checkout__calculationsHeader{
	font-weight: 800;
}

.checkout__calculationsValue{
	color: #777;
}

.checkout__shippingValue{
	color: #777;
	margin: 0px 0px 0px 10px;
	text-align: right;
	font-size: 13px;
	padding-top: 4px;
}

.checkout__totalHeader{
	font-size: 19px;
	font-weight: 800;
}

.checkout__totalValue{
	font-size: 19px;
	color: #777;
}

.checkout__buttonOne {
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 2px;
	background-color: #606060;
	color: #ffffff;
	width: 100%;
	height: 40px;
	cursor: pointer;
}


.checkout__buttonOne:hover {
	background-color: #000000;
	color: #ffffff;
}

/* -- MEDIA QUERIES -- */

@media only screen and (max-width: 800px) {

	.checkoutlayout {
		display: block;
		margin: 10px 20px;
	}

	.checkout__mainCalculations {
		width: 95%;
		margin: auto;
		padding: 10px 10px;
		text-align: center;
	}

	.checkout__mainBasket {
	font-size: 12px;

}
}
