@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet');

/*Remove default Styles */

input {
	appearance: none;
	background-color: white;
	border-width: 0px;
	font-family: 'Catamaran', sans-serif;
	font-weight: 500;
}

input:focus {
	appearance: none;
	border-width: 0px;
	outline: none;
}

a:link{
  text-decoration: none!important;
}

/* -- Style mainlayout -- */

.mainlayout {
	max-width: 1100px;
	margin: 0 auto;
}

/* -- Style mainlayout Hero -- */

.mainlayout__heroContainer {
	display: flex;
	width: 100%;
	margin: auto;
}

.mainlayout__heroMain {
	flex: 1.9;
	padding: 2px;
}

.mainlayout__heroSmall {
	flex: 1.0;
	display: flex;
	flex-direction: column;
	padding: 2px;
	justify-content: space-between;
}

.mainlayout__bannerHero {
	width: 100%;
}

@media only screen and (max-width: 800px) {
	.mainlayout__heroContainer {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
}

	.mainlayout__heroMain {
		flex: 1.9;
}
	.mainlayout__heroSmall {
		flex-direction: row;
}

	.mainlayout__bannerHero {
		margin: 2px 0px;
		width: 99%;
}
}

@media only screen and (max-width: 520px) {

	.mainlayout {
		min-width: 520px;
	}

	.mainlayout__heroSmall {
		flex-direction: column;
}

}

@media only screen and (max-width: 420px) {

	.mainlayout {
		min-width: 350px;
	}

}



/* -- Style mainlayout Info -- */

.mainlayout__infoContainer {
	display: flex;
	width: 99.5%;
	height: 80px;
	justify-content: space-around;
	border: 2px solid #000000;
		margin: 5px 0px 10px 0px;
}

.mainlayout__infoOption {
	display: flex;
	align-items: center;
	margin: auto;
}

.mainlayout__infoText {
	display: flex;
	align-items: center;
	margin: 10px;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 1px;
	font-size: 18px;

}

.mainlayout__infoCheck {
	color: #f2cd15;
}


@media only screen and (max-width: 1000px) {
	.mainlayout__infoText {
		height: 40px;
		width: 130px;
}
}

@media only screen and (max-width: 800px) {
	.mainlayout__infoContainer {
		display: none;
}
}

/* -- Style mainlayout Lower -- */

.mainlayout__lowerContainer {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.mainlayout__bannerLower {
	width: 99%;
	margin: 0px 2px;

}

@media only screen and (max-width: 800px) {
	.mainlayout__bannerRemove {
		display: none;
	}
}

@media only screen and (max-width: 520px) {

	.mainlayout__lowerContainer {
		flex-direction: column;
}

	.mainlayout__bannerLower {
		margin: 2px 0px;
	}

}

/* -- Style mainlayout Footer -- */

.mainlayout__footer {
	display: flex;
	color: #ffffff;
	width: 100%;
	height: 60px;
	background-color: #212121;
	justify-content: center;
	align-items: center;
	font-family: 'Catamaran', sans-serif;
	font-weight: 100;
	font-size: 14px;
	line-height: 14px;
	margin: auto;	
}

.mainlayout__footerText {
	 text-align-last: center;
}

@media only screen and (max-width: 420px) {

	.mainlayout__footer {
	font-size: 10px;
}
}